@charset "utf-8";
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #020204;
  width: 100%;
}

.test {
  background-color: blanchedalmond;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.cuba {
  background-color: red;
  border: 1px solid white;
  
}
.apple {
  background-color: green;
  border-radius: 50%;
}
body
{
  overflow: hidden;
}